@media (prefers-color-scheme: dark){
    body {color:#f0f0f0;background:#0a0a0a}
    a:link {color:#cdf}
    a:hover, a:visited:hover {color:#def}
    a:visited {color:#dcf}
}
body{
    margin:1em auto;
    max-width:48em;
    padding:0 .52em;
    font:1.2em/1.42 sans-serif
}
h1,h2,h3 {
    line-height:1.2
}
p {
    font-size: 20px;
}
@media print{
    body{
        max-width:none
    }
}
