@media (prefers-color-scheme: dark){
    body {color:#f0f0f0;background:#0a0a0a}
    a:link {color:#00bcff}
    a:hover, a:visited:hover {
        color:#e0f6e0;
        background: #00415e;
    }
    a:visited {color:#b6a0ff}
}
table{
    margin-left: auto;
    margin-right: auto;
}
#bhankas-top {
    position: relative;
    margin: 0;
    padding: 0;
    width: 100%;
    padding-bottom: 0;
    margin-bottom: 30px;
}
#bhankas-header {
    text-align: center;
    align-content: center;
    justify-content: center;
}
#topnav {
    display: grid;
    grid-template-columns: 1fr 1fr;
    text-align: center;
    align-content: center;
    justify-content: center;
    border: 3px solid #222;
}
body{
    margin:1em auto;
    max-width:48em;
    padding: 0.52em;
}
h1,h2,h3 {
    line-height:1.2
}
h1 {
    font-size: 28px;
}
h2 {
    font-size: 24px;
}
p {
    font-size: 18px;
}
a > h1 {
    font-family: Poppins;
    text-align: center;
    font-size: 48px;
    color: #e0f6e0;
    margin: 30px;
    text-shadow: 4px 4px #550527;
}
a > h1:hover {
    text-shadow: none;
    transform: translate(2px, 2px);
}
a {
    text-decoration: none;
}
p > a {
    text-decoration: underline;
    text-decoration-style: dotted;
    text-decoration-color: #00bcff;
    color: #b6a0ff;
}
p > a:visited {
    color: #b6a0ff;
}
a:hover {
    font-weight: normal;
    text-decoration: none;
    text-shadow: none;
    color: #e0f6e0;
    background: #00415e;
}
::selection {
    background: #240f55;;
}
